.DS_Store
console.log
*.env
**/__pycache__/
*.pyc

# Dependencies & build output
node_modules/
dist/
.cache/
.__mf__temp/
.angular/

# CodeQL
.codeql/
.codeql-reports/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.local.tfvars
