@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
